.slick-slide {
    height: 100%;
    box-sizing: border-box;

}
.slick-list {
    height: 100%;
}
.slick-dots {
    bottom: 20px;
}

.slick-dots li.slick-active button::before {
    opacity: .90;
    font-size: 10px;
    color: white;
}
.slick-dots li button::before {
    opacity: .40;
    font-size: 10px;
    color: white;
}

.Carousel_S2 .slick-next::before,
.Carousel_S2 .slick-prev::before {
    display: none;
}
